@charset "utf-8";
html.ltr .nav nav .utillink a{font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .nav nav .navigation li a{font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .nav .signbutton {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .ss_samsung div.auto-complete li a {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .nav .otherlink>a,
html.ltr .nav .cart-wrap>button {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .cart-wrap {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .ss_samsung .cart-wrap .cart-products .ss-button {font-family: 'arial', 'tahoma', 'sans-serif'; font-weight:bold;} 
html.ltr .footer-navi h1 {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .footer-navi .footer-nav-wrap h2 {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .footer-navi .footer-nav-wrap ul li a{font-family: 'arial', 'tahoma', 'sans-serif';}
html.rtl .nav nav .navigation li a{font-family: 'arial', 'tahoma', 'sans-serif';}
html.rtl .cart-wrap {font-family: 'arial', 'tahoma', 'sans-serif';}
html.rtl .ss_samsung .cart-wrap .cart-products .ss-button {font-family: 'arial', 'tahoma', 'sans-serif'; font-weight:bold;}
html.rtl .footer-navi h1 {font-family: 'arial', 'tahoma', 'sans-serif';font-weight:bold;}
html.rtl .footer-navi .footer-nav-wrap h2 {font-family: 'arial', 'tahoma', 'sans-serif';}
html.rtl .footer-navi .footer-nav-wrap ul li a {font-family: 'arial', 'tahoma', 'sans-serif';}

@media(max-width: 1280px){
	html.ltr .footer-navi h1 {font-family: 'arial', 'tahoma', 'sans-serif';}
	html.ltr .footer-navi .footer-nav-wrap h2 {font-size:16px;}
	html.ltr .footer-navi .footer-nav-wrap ul li a {font-family: 'arial', 'tahoma', 'sans-serif';}
	html.rtl .footer-navi h1 {font-family: 'arial', 'tahoma', 'sans-serif';}
	html.rtl .footer-navi .footer-nav-wrap h2 {font-family: 'arial', 'tahoma', 'sans-serif';}
	tml.rtl .footer-navi .footer-nav-wrap ul li a {font-family: 'arial', 'tahoma', 'sans-serif';}
}

@media(max-width: 767px){
	html.ltr .footer-navi h1 {font-family: 'arial', 'tahoma', 'sans-serif';}
	html.ltr .footer-navi .footer-nav-wrap h2 {font-family: 'arial', 'tahoma', 'sans-serif';}
	html.ltr .footer-navi .footer-nav-wrap ul li a {font-family: 'arial', 'tahoma', 'sans-serif';}
	html.rtl .footer-navi h1 {font-family: 'arial', 'tahoma', 'sans-serif';}
	html.rtl .footer-navi .footer-nav-wrap h2 {font-family: 'arial', 'tahoma', 'sans-serif';}
	html.rtl .footer-navi .footer-nav-wrap ul li a {font-family: 'arial', 'tahoma', 'sans-serif';}
}

html .footer-navi h2 {font-size:30px !important;font-family: 'pslKittithadaBold', 'arial', 'tahoma', 'SamsungIFBd', 'sans-serif' !important;}


/*////////////////////////////////////////////////////////////////       
b2c font   2014-08-27 by naomi     
font-family: 'SamsungIFRg'; --> system font
font-family: 'SamsungIFBd'; --> system font; font-weight:bold;
//////////////////////////////////////////////////////////////// */
html.ltr .b2c .nav nav .utillink a {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .b2c .nav .signbutton {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .b2c .ss_samsung .nav div.auto-complete li a {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .b2c .nav .cart-wrap>button {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .b2c .cart-wrap {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .b2c .ss_samsung .cart-wrap .cart-products .ss-button {font-family: 'arial', 'tahoma', 'sans-serif'; font-weight:bold;}

html.ltr .b2c .ss_samsung .cart-wrap .cart-products .ss-button {font-family: 'arial', 'tahoma', 'sans-serif'; font-weight:bold;}
html.ltr .b2c .footer-navi h1 {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .b2c .footer-navi .footer-nav-wrap h2 {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .b2c .footer-navi .footer-nav-wrap ul li a {font-family: 'arial', 'tahoma', 'sans-serif';}


/* RTL Version */
html.rtl .b2c .nav nav .navigation li a{font-family: 'arial', 'tahoma', 'sans-serif';}
html.rtl .b2c .nav .signbutton {font-family: 'arial', 'tahoma', 'sans-serif';}
html.rtl .b2c .cart-wrap {font-family: 'arial', 'tahoma', 'sans-serif';}
html.rtl .b2c .ss_samsung .cart-wrap .cart-products .ss-button {font-family: 'arial', 'tahoma', 'sans-serif'; font-weight:bold;}
html.rtl .b2c .ss_samsung .cart-wrap .cart-products .ss-button {font-family: 'arial', 'tahoma', 'sans-serif'; font-weight:bold;}
html.rtl .b2c .footer-navi h1 {font-family: 'arial', 'tahoma', 'sans-serif';}
html.rtl .b2c .footer-navi .footer-nav-wrap h2 {font-family: 'arial', 'tahoma', 'sans-serif';}
html.rtl .b2c .footer-navi .footer-nav-wrap ul li a {font-family: 'arial', 'tahoma', 'sans-serif';}

@media(max-width: 1280px){
html.ltr .b2c .footer-navi h1 {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .b2c .footer-navi .footer-nav-wrap h2 {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .b2c .footer-navi .footer-nav-wrap ul li a {font-family: 'arial', 'tahoma', 'sans-serif';}
html.rtl .b2c .footer-navi h1 {font-family: 'arial', 'tahoma', 'sans-serif';}
html.rtl .b2c .footer-navi .footer-nav-wrap h2 {font-family: 'arial', 'tahoma', 'sans-serif';}
html.rtl .b2c .footer-navi .footer-nav-wrap ul li a {font-family: 'arial', 'tahoma', 'sans-serif';}
}

@media(max-width: 767px){
html.ltr .b2c .footer-navi h1 {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .b2c .footer-navi .footer-nav-wrap h2 {font-family: 'arial', 'tahoma', 'sans-serif';}
html.ltr .b2c .footer-navi .footer-nav-wrap ul li a {font-family: 'arial', 'tahoma', 'sans-serif';}
html.rtl .b2c .footer-navi h1 {font-family: 'arial', 'tahoma', 'sans-serif';}
html.rtl .b2c .footer-navi .footer-nav-wrap h2 {font-family: 'arial', 'tahoma', 'sans-serif';}
html.rtl .b2c .footer-navi .footer-nav-wrap ul li a {font-family: 'arial', 'tahoma', 'sans-serif';}
}


html.ltr .footer-navi .footer-navi-tit { font-family: 'pslKittithadaBold', 'arial', 'tahoma', 'SamsungIFBd', 'sans-serif' !important; font-size: 30px !important;  }

html.ltr .footer-navi .footer-nav-wrap .footer-nav-tit { font-family: 'pslKittithadaBold', 'arial', 'tahoma', 'SamsungIFBd', 'sans-serif' !important; font-size: 20px !important; }

/* fix : gnb color */
.header-nav:not(.is-open) .depth1 .depth1-menu > a { color: #fff; }
.depth1-menu-lk:hover, .depth1-menu-lk:active, .depth1-menu-lk:focus, .is-show .depth1-menu-lk { color: #343434 !important; background-color: #b8d8ee; }

/* fix : font-size for new GNB */
.ss_samsung .utility-list a{font-size:12px;}
.ss_samsung .depth1-menu-lk,
.ss_samsung .search-input{font-size:15px}
.ss_samsung .depth2-menu-lk,
.ss_samsung .depth3-menu-lk{font-size:13px}
.ss_samsung #footer .footer-shoplist a,
.ss_samsung #footer .back-top,
.ss_samsung #footer .footer-nav-title,
.ss_samsung #footer .footer-nav-list a,
.ss_samsung #footer .footer-social-title{font-size:13px}
.ss_samsung #footer .footer-inner{font-size:12px}
.ss_samsung #footer .footer-address span,
.ss_samsung #footer .footer-address p{font-size:11px}
.ss_samsung #header{font-family:'arial', 'tahoma', 'sans-serif'}
.ss_samsung #header input[type=text], .ss_samsung #header input[type=search]{ font-family:'arial', 'tahoma', 'sans-serif'}
.ss_samsung #footer{font-family:'arial', 'tahoma', 'sans-serif'}
.ss_samsung #footer input[type=text], .ss_samsung #footer input[type=search]{font-family:'arial', 'tahoma', 'sans-serif'}
.ss_samsung .search-input{padding-left:13px}