@charset "utf-8";
/* CSS Document */

.id{
	background-color:transparent;
	height: 30px;
	width: 100px;
	text-align: right;
	left: 50px;
	position:absolute;
	top: 100px;
	}
.idI{
	background-color:transparent;
	height: 30px;
	width: 100px;
	text-align: right;
	left: 160px;
	position:absolute;
	top: 100px;
	}	
.name{
	background-color:transparent;
	height: 30px;
	width: 100px;
	text-align: right;
	left: 270px;
	position:absolute;
	top: 100px;
	}
.nameI{
	background-color:transparent;
	height: 30px;
	width: 100px;
	text-align: right;
	left: 380px;
	position:absolute;
	top: 100px;
	}
.address{
	background-color:transparent;
	height: 30px;
	width: 100px;
	text-align: right;
	left: 50px;
	position:absolute;
	top: 150px;
	}
.addressI{
	background-color:transparent;
	height: 30px;
	width: 100px;
	text-align: right;
	left: 160px;
	position:absolute;
	top: 150px;
	}	
.Tel{
	background-color:transparent;
	height: 30px;
	width: 100px;
	text-align: right;
	left: 270px;
	position:absolute;
	top: 150px;
	}
.TelI{
	background-color:transparent;
	height: 30px;
	width: 100px;
	text-align: right;
	left: 380px;
	position:absolute;
	top: 150px;
	}
.Cosdetail{
	
	background-color:transparent;
	height: 35px;
	width: 600px;
	text-align: right;
	left: 0px;
	position:absolute;
	top: 0px;
	
	
	
	}		