@charset "utf-8";
/* CSS Document */

.costumername{
	background-color:transparent;
	height: 30px;
	width: 100px;
	text-align: right;
	left: 30px;
	position:absolute;
	top: 30px;
	}
.costumershow{
	background-color:transparent;
	height: 30px;
	width: 150px;
	text-align: right;
	left:150px;
	position:absolute;
	top: 30px;
	}
.proname{
	background-color:transparent;
	height: 30px;
	width: 100px;
	text-align: right;
	left: 300px;
	position:absolute;
	top: 30px;
	}
.proshow{
	background-color:transparent;
	height: 30px;
	width: 150px;
	text-align: right;
	left: 420px;
	position:absolute;
	top: 30px;
	}
.price{
	background-color:transparent;
	height: 30px;
	width: 100px;
	text-align: right;
	left: 30px;
	position:absolute;
	top: 70px;
	}
.priceshow{
	background-color:transparent;
	height: 30px;
	width: 150px;
	text-align: right;
	left: 150px;
	position:absolute;
	top: 70px;
	}
.bath{
	background-color:transparent;
	height: 30px;
	width: 100px;
	text-align: left;
	left: 300px;
	position:absolute;
	top: 70px;
	}
.order0{
	background-color:transparent;
	height: 130px;
	width: 600px;
	text-align: left;
	left: 0px;
	position:absolute;
	top: 0px;
	
	}
.order1{
	background-color:transparent;
	height: 130px;
	width: 600px;
	text-align: left;
	left: 0px;
	position:absolute;
	top: 130px;
	}	
.order2{
	background-color:transparent;
	height: 130px;
	width: 600px;
	text-align: left;
	left: 0px;
	position:absolute;
	top: 260px;
	}	
.order3{
	background-color:transparent;
	height: 130px;
	width: 600px;
	text-align: left;
	left: 0px;
	position:absolute;
	top: 390px;
	}
.order4{
	background-color:transparent;
	height: 130px;
	width: 600px;
	text-align: left;
	left: 0px;
	position:absolute;
	top: 520px;
	}	
.order5{
	background-color:transparent;
	height: 130px;
	width: 600px;
	text-align: left;
	left: 0px;
	position:absolute;
	top: 650px;
	}				