@charset "utf-8";
/* CSS Document */
@font-face {  
  
    font-family: 'GOODTIME';  /* ใส่ชื่อ Font */  
    /*src: url('C:\Users\narumonk\Desktop\DBproject\GOODTIME.ttf');  
  /* ใส่ URL ที่เก็บไฟล์ Font ที่เป็นนามสกุล .EOT (หลักการเหมือนแทรกรูปภาพธรรมดาๆ ครับ) */  
    src: local('myfont'), url('GOODTIME.ttf') format('truetype');  
  /* ใส่ URL ที่เก็บไฟล์ Font ที่เป็นนามสกุล .TTF (หลักการเหมือนแทรกรูปภาพธรรมดาๆ ครับ) */  
     
	
	font-weight: normal;  
    font-style: normal; 
  
}  
@font-face {  
  
    font-family:'Quarca Cond Book';  /* ใส่ชื่อ Font */  
    /*src: url('C:\Users\narumonk\Desktop\DBproject\GOODTIME.ttf');  
  /* ใส่ URL ที่เก็บไฟล์ Font ที่เป็นนามสกุล .EOT (หลักการเหมือนแทรกรูปภาพธรรมดาๆ ครับ) */  
    src: local('myfont'), url('QuarcaCondBook.otf') format('truetype');  
  /* ใส่ URL ที่เก็บไฟล์ Font ที่เป็นนามสกุล .TTF (หลักการเหมือนแทรกรูปภาพธรรมดาๆ ครับ) */  
     
	
	font-weight: normal;  
    font-style: normal; 
  
}  
.myfont1{
	
	font-family:'GOODTIME';
	
	}

.myfont2{
	
	font-family:"Quarca Cond Book";
	
	}
<style type="text/css">

.head1 {
	background-color: #0F3;
}
.test {
	background-color: #FFFFFF;
	background-position: center top;
	height: 1500px;
	width: 1000px;
	text-align: center;
	position: absolute;
	left: 171px;
	top: 5px;
}

.test2{
	background-color:#90F;
	
	height: 200px;
	width: 1000px;
	text-align: center;
	left: 0px;
	position:absolute;
	}
	
	/*MENUBAR*/
.tab{
	background-color:#9F0;
	height: 40px;
	width: 1000px;
	text-align: center;
	left: 0px;
	top: 200px;
	position:absolute;
	}
	.tabmen{
	background-color:#FF0004;
	height: 40px;
	width: 170px;
	text-align: center;
	left: 0px;
	top: 0px;
	position:absolute;
	}
.tabmen2{
	background-color:#FF3;
	height: 40px;
	width: 165px;
	text-align: center;
	left: 170px;
	top: 0px;
	position:absolute;
	}
.tabmen3{
	background-color:#FF6;
	height: 40px;
	width: 165px;
	text-align: center;
	left: 335px;
	top: 0px;
	position:absolute;
	}
.tabmen4{
	background-color:#FF9;
	height: 40px;
	width: 165px;
	text-align: center;
	left: 500px;
	top: 0px;
	position:absolute;
	}
.tabmen5{
	background-color:#FFC;
	height: 40px;
	width: 165px;
	right: 170px;
	text-align: center;
	position:absolute;
	}
.tabmen6{
	background-color:#FF0004;
	height: 40px;
	width: 170px;
	text-align: center;
	right: 0px;
	top: 0px;
	position:absolute;
	}	
	
	.fill:focus{border: 3px;
	 solid : #56B4EF; 
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6); 
	
	}
	
.Tlogin{
	background-color:#FFFFFF;
	height: 100px;
	width: 200px;
	text-align: center;
	left: 400px;
	position:absolute;
	top: 270px;
	
	}
.Username{
	background-color:#FFFFFF;
	height: 50px;
	width: 200px;
	text-align: center;
	left: 300px;
	position:absolute;
	top: 420px;
	
	}
.Password{
	background-color:#FFFFFF;
	height: 50px;
	width: 200px;
	text-align: center;
	left: 300px;
	position:absolute;
	top: 500px;
	
	}
.BUsername{
	background-color:#FFFFFF;
	height: 50px;
	width: 200px;
	text-align: center;
	left: 600px;
	position:absolute;
	top: 420px;
	
	}
.BPassword{
	background-color:#FFFFFF;
	height: 50px;
	width: 200px;
	text-align: center;
	left: 600px;
	position:absolute;
	top: 500px;
	
	}
.ButtonLogin{
	background-color:#FFFFFF;
	height: 50px;
	width: 150px;
	text-align: center;
	left: 420px;
	position:absolute;
	top: 600px;
	
	}
.ButtonLogin2{
	background-color:#FFFFFF;
	height: 50px;
	width: 150px;
	text-align: center;
	left: 420px;
	position:absolute;
	top: 700px;
	
	}



</style>
