@charset "utf-8";
/* CSS Document */
<style type="text/css">
.head1 {
	background-color: #0F3;
}
.1 {
	background-color: #CCC;
	background-position: center top;
	height: 1000px;
	width: 1280px;
	text-align: center;
	position:absolute;
}

.tt {
	background-color: #FFF;
	background-position: center top;
	height: 100px;
	width: 1000px;
	text-align: center;
	right: 140px;
	position:absolute;
	}
</style>